<%= render 'search' %>

<div id="search-results">
  <table>
    <% @users.each do |u| %>
      <% if u != current_user %>
        <%= render partial: 'user_snippit', locals: { u: u } %>
      <% end %>
    <% end %>
  </table>
</div>

<div id="contactModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="contactModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="contactModalLabel"></h3>
  </div>
  <div class="modal-body">
    <%= text_area_tag 'body', '', class: 'email-body' %>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button id="email-button" class="btn btn-primary">Send email</button>
  </div>
</div>
