/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

@import "bootstrap";

@import url('http://fonts.googleapis.com/css?family=Ubuntu:400,500,700');

$gray: #555555;

body {
	color: $gray;
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
}

/**  Non-Logged In View  **/
.sessions-new {
	background-image: url('bg-home.jpg');
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;

	.navbar {
		display: none;
	}
	#header-home {
		margin-top: 30px;
	}

	h1 {
		color: #ffffff;
		font-size: 62px;
		text-shadow: 0 0 15px rgba(0,0,0,.75);
		text-transform: uppercase;

		span {
			font-weight: normal;
		}
	}
	#btn-sign-in {
		margin-top: 15px;
	}
	#sign-up-intro {
		color: #ffffff;
		font-size: 22px;
		font-weight: 500;
		line-height: 26px;
		margin-top: 20px;
		text-shadow: 0 0 15px rgba(0,0,0,.75);
	}
	#form-sign-up {
		background-color: rgba(0,0,0,.5);
		border-radius: 10px;
		padding: 20px;

		form {
			margin-bottom: 0;
		}

		input {
			width: 246px;
		}

		#user_first_name, #user_last_name {
			width: 109px;
		}

		#user_last_name {
			margin-left: 10px;
		}

		#password-confirmation {
			display: none;
		}

		#btn-sign-up {
			width: 100%;
		}

		p {
			color: #a4a4a4;
			margin-top: 5px;
			text-align: center;
		}
		#btn-sign-up-linkedin {
			width: 234px;
		}

	}
	#feature-carousel {
		width: 490px;
	}

	footer {
		background-position: bottom;
		background-repeat: repeat-x;
		bottom: 0;
		display: none;
		position: absolute;
		text-align: center;
		width: 100%;
	}

}
