/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

@import "bootstrap";

$gray: #555555;
$blue: #3495b7;
$orange: #f79700;
$borderBrown: rgba(108,81,51,.36);

body {
	background: url('bg-site.png');
	background-attachment: fixed;
	color: $gray;
	font-family: 'myriad-pro', sans-serif;
	font-size: 14px;
}

a {
	color: $blue;
}

/**  Non-Logged In Splash View  **/
.sessions-new {
	background-image: url('bg-home.jpg');
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;

	.navbar {
		display: none;
	}
	#header-home {
		margin-top: 30px;
	}

	h1 {
		color: #ffffff;
		font-size: 62px;
		text-shadow: 0 0 15px rgba(0,0,0,.75);
		text-transform: uppercase;

		span {
			font-weight: normal;
		}
	}
	#btn-sign-in {
		margin-top: 15px;
	}
	#sign-up-intro {
		color: #ffffff;
		font-size: 22px;
		font-weight: 600;
		line-height: 26px;
		margin: 20px 0;
		text-shadow: 0 0 15px rgba(0,0,0,.75);
	}
	#form-sign-up {
		background-color: rgba(0,0,0,.5);
		border-radius: 10px;
		padding: 20px;

		form {
			margin-bottom: 0;
		}

		input {
			width: 246px;
		}

		#user_first_name, #user_last_name {
			width: 109px;
		}

		#user_last_name {
			margin-left: 10px;
		}

		#password-confirmation {
			display: none;
		}

		#btn-sign-up {
			width: 100%;
		}

		p {
			color: #a4a4a4;
			margin-top: 5px;
			text-align: center;
		}
		#btn-sign-up-linkedin {
			width: 234px;
		}

	}
	#feature-carousel {
		width: 490px;
	}

	footer {
		background-position: bottom;
		background-repeat: repeat-x;
		bottom: 0;
		display: none;
		position: absolute;
		text-align: center;
		width: 100%;
	}

}


/**  Nav Bar  **/

.navbar-inner {
	background: #ffffff;
	border-bottom: 1px solid #d6d3c6;
	box-shadow: none !important;

	.brand {
		color: $gray;
		font-size: 30px;
		font-weight: 700;

		span {
			font-weight: normal;
		}

		&:hover {
			text-decoration: none;
		}
	}
	.nav {
		margin-left: 50px;

		li {

			a {
				color: $gray;
				font-size: 21px;
				padding: 10px 30px 10px;
				text-transform: uppercase;
			}

			&.active a, &.active a:hover, a:hover {
				background: #ffffff;
				box-shadow: none;
				color: $blue;
			}
		}
	}
	.logout {
		color: $gray;
		display: inline-block;
		margin-top: 9px;
	}
}
#nav-caret {
	position: relative;
	top: 35px;
}

.users-index {

	#nav-caret {
		left: -298px;
	}
}

/**  Search Page  **/

#search-container {
	margin-top:70px;

	.badge {
		cursor: pointer;
		font-family: Arial, sans-serif;
		min-height: auto !important;
		opacity: .5;

		i.icon-ok {
			display: none;
		}

		&.checked {
			background: $orange;
			opacity: 1;

			.icon-ban-circle {
				display: none !important;
			}

			.icon-ok {
				display: inline-block;
			}

		}
	}
	#search-bar {
		background: #ffffff;
		border: 1px solid $borderBrown;
		padding: 10px 25px;
		position: fixed;
		width: 250px;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;

		.collapse {
			position: static;
		}
		h5 {
			background: url('icon-collapse.png');
			background-repeat: no-repeat;
			background-position: 0 7px;
			cursor: pointer;
			margin-bottom: 5px;
			padding-left: 18px;

			&.collapsed {
				background-position: 0 -15px;
			}
		}
		form {
			margin-bottom: 0;
		}

		input {
			margin-bottom: 0;
		}
	}
	.person {
		background: #ffffff;
		border: 1px solid $borderBrown;
		cursor: pointer;
		font-size: 12px;
		padding: 20px;
		-o-transition: .5s;
		-ms-transition: .5s;
		-moz-transition: .5s;
		-webkit-transition: .5s;
		transition: .5s;
		transition-duration: .5s;

		&:hover {
			border: 1px solid $blue;
			box-shadow: 0 0 10px $blue;
		}

		.user-full-name, .user-role, .user-role-want {
			font-weight: 700;
		}

		.user-location {
			color: #888888;
		}

		.user-avatar {
			margin-right: 20px;
		}

		.btn {
			margin-bottom: 8px;
			text-align: left;
			width: 70px;
		}
	}
}
