<header class="navbar navbar-fixed-top">
  <nav class="navbar-inner">
    <div class="container-fluid" id="header-links">
      <div class="row-fluid">
        <div class="span1"></div>
          <div class="span10">
              <a href="/" class="logo"><strong>Found with me</strong></a>
          </div>
        <div class="span1"><%= link_to "Logout", destroy_user_session_path, method: :delete %></div>
      </div>
    </div>
  </nav>
</header>