<header class="navbar navbar-fixed-top">
  <nav class="navbar-inner">
    <div class="container" id="header-links">
      <div class="row">
        <div class="span11">
            <a href="/" class="brand">FOUND<span>WITH</span>ME</a>
          <ul class="nav">
            <li class="active">
              <a href="#">Search</a>
            </li>
            <li>
              <a href="#">Me</a>
            </li>
            <li>
              <a href="#">About</a>
            </li>
          </ul>
        </div>
      <% if current_user %>
        <div class="span1"><%= link_to "Logout", destroy_user_session_path, method: :delete %></div>
        <% end %>
      </div>
    </div>
  </nav>
</header>